# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf
.Rproj.user

*.tdat

*.dat

*.rdat

*.info

.RData

*.txt

2015-12-25_CMAES_restart_with_default_run/cmaes_output_1_2.txt

2015-12-25_CMAES_restart_with_default_run/cmaes_output_1_5.txt
